My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Ontgu82FRahZH2ZaR2fUdG_0NYg-fmlqSeF9nBViHog",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ontgu82FRahZH2ZaR2fUdG_0NYg-fmlqSeF9nBViHog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 331236225,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ontgu82FRahZH2ZaR2fUdG_0NYg-fmlqSeF9nBViHog/edit#gid=331236225"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -80
      ],
      "id": "69a8ea64-37b5-4488-8ae7-ad0172b19885",
      "name": "Sheet Onboarding Karyawan",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "WChJG266uXrjuUnk",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b19eef4-b66f-4f17-9e29-5429f38586d3",
              "name": "first_name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "9402455f-92f3-4795-92b7-53e480305666",
              "name": "last_name",
              "value": "={{ $json['Last Name'] }}",
              "type": "string"
            },
            {
              "id": "74ea3582-805f-4ff3-970b-db4282a15867",
              "name": "full_name",
              "value": "={{ $json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "c145b6fb-8a9a-4f08-b513-968941b6f420",
              "name": "email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "cc35a8d2-75ea-43de-ac58-ee96576cb948",
              "name": "start_date",
              "value": "={{ $json['Start Date'] }}",
              "type": "number"
            },
            {
              "id": "f6373c18-dc7a-4d75-8f29-6b80623f0648",
              "name": "position",
              "value": "={{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -80
      ],
      "id": "882897d1-556d-4a16-bf97-d2ced6344385",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "listId": "69ec40f712ee6f2e14fc02ff",
        "name": "CheckList OnBoarding",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        224,
        -80
      ],
      "id": "99e6a4c0-db06-4526-8d1b-58cf3b4cf562",
      "name": "Create a card",
      "executeOnce": true,
      "credentials": {
        "trelloApi": {
          "id": "qtWvAmIvIZAZJuEa",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Ontgu82FRahZH2ZaR2fUdG_0NYg-fmlqSeF9nBViHog",
          "mode": "list",
          "cachedResultName": "Onboarding Karyawan Baru (Jawaban)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ontgu82FRahZH2ZaR2fUdG_0NYg-fmlqSeF9nBViHog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 491719723,
          "mode": "list",
          "cachedResultName": "Checklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ontgu82FRahZH2ZaR2fUdG_0NYg-fmlqSeF9nBViHog/edit#gid=491719723"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -80
      ],
      "id": "594ad4d7-8898-4e85-b3a7-c0149b5a268d",
      "name": "CheckList",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PzWdljwzNNbeSeId",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "69ec45d2b4c83c681800943d",
          "mode": "id"
        },
        "name": "={{ $json['Checklist Onboarding Karyawan'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        656,
        -80
      ],
      "id": "7f9c702f-5102-414c-81d6-afedaca7b2c2",
      "name": "Create a checklist",
      "credentials": {
        "trelloApi": {
          "id": "qtWvAmIvIZAZJuEa",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      checklist: $('CheckList').all().map(i => \n        i.json['Checklist Onboarding Karyawan']\n      ),\n      sheet: $('Sheet Onboarding Karyawan').first().json\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -80
      ],
      "id": "8b95ea35-6d08-4cf2-81b6-6457c13782d1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sheet.Email }}",
        "subject": "=Selamat Datang di Perusahaan,  {{ $json.sheet['First Name'] }} {{ $json.sheet['Last Name'] }}\n",
        "message": "=Hi {{ $('Sheet Onboarding Karyawan').first().json['First Name'] }}{{ $('Sheet Onboarding Karyawan').first().json['Last Name'] }},\n\nSelamat datang di Perusahaan! Kami sangat senang Anda bergabung sebagai {{ $('Sheet Onboarding Karyawan').first().json.Position }} mulai {{ $('Sheet Onboarding Karyawan').first().json['Start Date'] }}.\n\nBerikut daftar tugas onboarding Anda:\n<ul>\n<li>{{ $('CheckList').all().map(i => i.json['Checklist Onboarding Karyawan']).join('</li><li>') }}</li>\n</ul>\n\nJika ada pertanyaan, reply email ini.\n\nSalam,\nTim HR\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        -80
      ],
      "id": "837e112e-1ff9-48e9-b66c-618ee155073b",
      "name": "Send a message",
      "webhookId": "5d8da839-7039-4d91-b1c3-04ae7acf72af",
      "credentials": {
        "gmailOAuth2": {
          "id": "B9XQRCjEjMkIK6Ae",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Sheet Onboarding Karyawan": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "CheckList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckList": {
      "main": [
        [
          {
            "node": "Create a checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a checklist": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b3f838f0-f633-43d1-ac2f-da5cc5b37dac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8b2c2141b9d9053f1875c9bb69c4ce05e16181323ff09103829de55d9b5b07d"
  },
  "id": "XCtnU5u7uN7ngLjz",
  "tags": []
}