Tugas Pertemuan 6_1 Sistem Traise Phising.json
{
  "name": "Tugas Pertemuan 6/1 Sistem Traise Phising",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        -32
      ],
      "id": "5d8ba810-5233-4521-8c71-8cfbb12ee5cc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "B9XQRCjEjMkIK6Ae",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "313a06db-5abf-4422-a770-181c74575f93",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ba71c6b3-3cab-468d-91fd-44a14793c039",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblue@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c333f8dd-1224-4a20-8570-9d37a6bb56d4",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ad86f386-c6c3-4c3f-9e63-61e321555daf",
              "leftValue": "={{ $json.From }}",
              "rightValue": "recruitmentbcaf@bcaf.id",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -32
      ],
      "id": "e8c505d6-0640-4869-be58-6aec808a94e6",
      "name": "Cek Allowlist"
    },
    {
      "parameters": {
        "chatId": "5064972579",
        "text": "=Ada Email Baru dari {{ $('Gmail Trigger').item.json.From }}\n\nSubject: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        -192
      ],
      "id": "dce686bc-a131-4aa6-878d-6d8622215629",
      "name": "Reminder Email dari Allowlist",
      "webhookId": "dd985c44-70d9-46c4-a592-8ecdb644dc2e",
      "credentials": {
        "telegramApi": {
          "id": "0IcfM3oTUSI084RV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. Jawab HANYA dengan format: 'Skor: [angka]'.\\n\\nEmail:{{ $json.snippet }}  Subject:{{ $json.Subject }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        304,
        -16
      ],
      "id": "feebd1d0-ce38-4566-a493-85fb470d01d9",
      "name": "Analisis Phising"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        160
      ],
      "id": "f752af03-c67d-4575-9a7f-8cf5060d6900",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5bW40s070nqSq9Cd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -16
      ],
      "id": "42054079-5710-420f-a2eb-02950295186e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e8442e5c-57dd-4e19-b3a0-9c6df6060001",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        -16
      ],
      "id": "db0c53d0-071d-4b5a-aa32-98c839ac781e",
      "name": "Cek Skor Berbahaya"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        -160
      ],
      "id": "8c090ff3-bdda-485c-a88f-95947bd83dc3",
      "name": "Memberikan Label otomatis",
      "webhookId": "09ce99d5-f05a-4c44-bc26-1e9751acb12f",
      "credentials": {
        "gmailOAuth2": {
          "id": "B9XQRCjEjMkIK6Ae",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5064972579",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  \nEmail ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.   \n- Skor AI: {{ $json.score }}/10  \n- Dari: {{ $('Gmail Trigger').item.json.From }} \n- Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        80
      ],
      "id": "1f8be5ba-d1e4-41c9-8c0f-e02f4b2a41b2",
      "name": "Notif Skor Rendah",
      "webhookId": "1d64f23d-d489-4b43-9970-b25cce699161",
      "credentials": {
        "telegramApi": {
          "id": "0IcfM3oTUSI084RV",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Cek Allowlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Allowlist": {
      "main": [
        [
          {
            "node": "Reminder Email dari Allowlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analisis Phising",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analisis Phising",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analisis Phising": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Cek Skor Berbahaya",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Skor Berbahaya": {
      "main": [
        [
          {
            "node": "Memberikan Label otomatis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif Skor Rendah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "de89c6f7-3624-42fd-aa01-1501ed346118",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8b2c2141b9d9053f1875c9bb69c4ce05e16181323ff09103829de55d9b5b07d"
  },
  "id": "wNe909Vi6J5zzwlo",
  "tags": []
}