Tugas Pertemuan 3 Laporan Bulanan.json
{
  "name": "Tugas Pertemuan 3 Laporan Bulanan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7f118c51-29ba-4b19-88c1-de9fc4889227",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hwHu42VVyjGrRjrrrMwyOj2uzPIozhqswRBdaQr1xDw",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hwHu42VVyjGrRjrrrMwyOj2uzPIozhqswRBdaQr1xDw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840720130,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hwHu42VVyjGrRjrrrMwyOj2uzPIozhqswRBdaQr1xDw/edit#gid=1840720130"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        0
      ],
      "id": "a9eafc29-a244-4b75-9c64-3aba9dafa11a",
      "name": "Data Sheet 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PzWdljwzNNbeSeId",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XwYV5-hqAWgm-CahvfeuHjYG7neokUU8Ma8vaZYHW7c",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XwYV5-hqAWgm-CahvfeuHjYG7neokUU8Ma8vaZYHW7c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 257652098,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XwYV5-hqAWgm-CahvfeuHjYG7neokUU8Ma8vaZYHW7c/edit#gid=257652098"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        192
      ],
      "id": "2c55d46e-1b26-424b-a57f-7a73afa6bf3f",
      "name": "Data Sheet 3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PzWdljwzNNbeSeId",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UY2DSruwSwe2oE4ivGA0ot5yCh5-2nfiGHlfoQppxDA",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UY2DSruwSwe2oE4ivGA0ot5yCh5-2nfiGHlfoQppxDA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UY2DSruwSwe2oE4ivGA0ot5yCh5-2nfiGHlfoQppxDA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -192
      ],
      "id": "dfbd893f-23ab-4335-91e8-74c1c84281ad",
      "name": "Data Sheet 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PzWdljwzNNbeSeId",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        544,
        -80
      ],
      "id": "f2de8e10-5852-4f1c-bfcf-9e55d54479d3",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input (aman untuk semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris dari semua item\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Proses tiap baris\nallRows.forEach(row => {\n  if (typeof row === 'object' && row !== null) {\n    if (row['ID Laporan']) row['ID Laporan'] = String(row['ID Laporan']).trim();\n    if (row.Bulan) row.Bulan = String(row.Bulan).trim();\n    if (row['Kategori Produk']) row['Kategori Produk'] = String(row['Kategori Produk']).trim();\n    if (row['Nama Produk']) row['Nama Produk'] = String(row['Nama Produk']).trim();\n\n    row['Jumlah Stok'] = parseFloat(row['Jumlah Stok']) || 0;\n    row['Penjualan Harian'] = parseFloat(row['Penjualan Harian']) || 0;\n    row['Harga Satuan (IDR)'] = parseFloat(row['Harga Satuan (IDR)']) || 0;\n    row['Total Penjualan (IDR)'] = parseFloat(row['Total Penjualan (IDR)']) || 0;\n  }\n});\n\n// Kembalikan sebagai daftar item terpisah\nreturn allRows.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        192
      ],
      "id": "ff1ac66c-e435-49d6-837e-c90d093bb2ea",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        192
      ],
      "id": "9f4a0563-7ede-472c-ad04-e80d6c5e4a4b",
      "name": "Menyesuaikan Header"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        192
      ],
      "id": "4f621a8b-6c4a-4e16-b86f-05748e012706",
      "name": "Menambahkan Kolom Sumber1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nitems.forEach(item => {\n  if (item.json && item.json['ID Laporan']) {\n    // Tambahkan kolom \"Sumber\" berdasarkan ID awal\n    if (item.json['ID Laporan'].startsWith('REP')) {\n      item.json.Sumber = 'Sheet1';\n    } else if (item.json['ID Laporan'].startsWith('LAP')) {\n      item.json.Sumber = 'Sheet2';\n    } else {\n      item.json.Sumber = 'Unknown';\n    }\n  }\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -80
      ],
      "id": "80207c4e-2b18-472a-b734-82c3c6e9a0e9",
      "name": "Menambahkan Kolom Sumber"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        960,
        -80
      ],
      "id": "4f0326f5-1992-4f25-b1e3-e462d61c8198",
      "name": "Mengahpus Duplikat ID Laporan"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "ID Laporan",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        688,
        192
      ],
      "id": "5cf653f4-5845-4a56-8f4e-9970eeb79c84",
      "name": "Menghapus Duplikat ID Laporan"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1456,
        176
      ],
      "id": "ec1e3d1f-27db-4baf-a110-3b9f18441819",
      "name": "Gabung"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s",
          "mode": "list",
          "cachedResultName": "Dummy Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ID Laporan"
          ],
          "schema": [
            {
              "id": "ID Laporan",
              "displayName": "ID Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -80
      ],
      "id": "6f42465a-f43f-40a5-9a5b-87bb5c8c4330",
      "name": "Sheet Master",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PzWdljwzNNbeSeId",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil SEMUA input dari semua jalur\nconst allInputs = $input.all();\n\n// Gabungkan semua baris dari semua input\nconst allRows = allInputs.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Filter hanya bulan ini\nconst now = new Date();\nconst currentMonthName = now.toLocaleString('id-ID', { month: 'long' });\nconst currentYear = now.getFullYear();\n\nconst monthlyData = allRows.filter(row => \n  String(row.Bulan || '').toLowerCase() === currentMonthName.toLowerCase()\n);\n\n// Hitung metrik\nconst totalPenjualanUnit = monthlyData.reduce((sum, r) => sum + (r['Penjualan (Unit)'] || 0), 0);\nconst totalPendapatan = monthlyData.reduce((sum, r) => sum + (r['Pendapatan (IDR)'] || 0), 0);\nconst totalLaporan = monthlyData.length;\n\n// Buat ringkasan\nconst laporan = {\n  'Bulan': currentMonthName,\n  'Tahun': currentYear,\n  'Jumlah_Laporan': totalLaporan,\n  'Total_Penjualan_Unit': totalPenjualanUnit,\n  'Total_Pendapatan_IDR': totalPendapatan,\n  'Rata_Rata_Penjualan_Per_Laporan': totalLaporan ? (totalPenjualanUnit / totalLaporan).toFixed(2) : 0,\n  'Rata_Rata_Pendapatan_Per_Laporan': totalLaporan ? (totalPendapatan / totalLaporan).toFixed(2) : 0,\n  'Sumber_Data': 'Sheet 1, Sheet 2, Sheet 3',\n  'Terakhir_Diperbarui': new Date().toISOString()\n};\n\n// Kembalikan HANYA 1 item\nreturn [{ json: laporan }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        176
      ],
      "id": "82b046e6-16c2-4f80-b9e7-9a85c8bd632d",
      "name": "Generate Laporan"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s",
          "mode": "list",
          "cachedResultName": "Dummy Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1785826972,
          "mode": "list",
          "cachedResultName": "Laporan Bulanan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s/edit#gid=1785826972"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tahun",
              "displayName": "Tahun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah_Laporan",
              "displayName": "Jumlah_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Penjualan_Unit",
              "displayName": "Total_Penjualan_Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Pendapatan_IDR",
              "displayName": "Total_Pendapatan_IDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rata_Rata_Penjualan_Per_Laporan",
              "displayName": "Rata_Rata_Penjualan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rata_Rata_Pendapatan_Per_Laporan",
              "displayName": "Rata_Rata_Pendapatan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sumber_Data",
              "displayName": "Sumber_Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Terakhir_Diperbarui",
              "displayName": "Terakhir_Diperbarui",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        -32
      ],
      "id": "ca0bd86b-f183-4856-a120-781bbdf76b3d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PzWdljwzNNbeSeId",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5064972579",
        "text": "=📊 *Laporan Bulanan — {{$json.Bulan}} {{$json.Tahun}}*  \n✅ *Jumlah Laporan*: {{$json.Jumlah_Laporan}} \n📦 *Penjualan Total*: {{$json.Total_Penjualan_Unit}} unit \n💰 *Pendapatan*: Rp{{ $json.Total_Pendapatan_IDR }}  \n\n📈 *Rata-rata Penjualan*: {{$json.Rata_Rata_Penjualan_Per_Laporan}} unit/laporan   \n\n📎 [Laporan Detail](https://docs.google.com/spreadsheets/d/1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s/edit?usp=sharing)",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1904,
        176
      ],
      "id": "6a80da70-984c-4460-9a90-731a0dbc16cd",
      "name": "Send a text message",
      "webhookId": "64497d8a-3840-45c1-a66f-1283770bb0b1",
      "credentials": {
        "telegramApi": {
          "id": "0IcfM3oTUSI084RV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "madyanwar10@gmail.com",
        "subject": "Laporan Keuangan Bulanan",
        "message": "=<!DOCTYPE html> <html> <head>   <style>     body { font-family: Arial, sans-serif; line-height: 1.6; }     .header { background: #0d47a1; color: white; padding: 15px; text-align: center; }     .content { padding: 20px; }     .metric { margin: 8px 0; font-weight: bold; }     .highlight { color: #1976d2; }   </style> </head> <body>   <div class=\"header\">     <h2>📊 Laporan Bulanan</h2>     <p>{{ $json.Bulan }} {{ $json.Tahun }}</p>   </div>   <div class=\"content\">     <p>Halo Tim,</p>     <p>Berikut ringkasan laporan bulanan dari data gabungan (Sheet 1, 2, dan 3):</p>          <div class=\"metric\">✅ Jumlah Laporan: <span class=\"highlight\">{{ $json.Jumlah_Laporan }}</span></div>     <div class=\"metric\">📦 Total Penjualan: <span class=\"highlight\">{{ $json.Total_Penjualan_Unit }} unit</span></div>     <div class=\"metric\">💰 Total Pendapatan: <span class=\"highlight\">Rp{{ $json.Total_Pendapatan_IDR }}</span></div>     <div class=\"metric\">📈 Rata-rata Penjualan/Laporan: <span class=\"highlight\">{{ $json.Rata_Rata_Penjualan_Per_Laporan }} unit</span></div>          <p>🔗 <a href=\"https://docs.google.com/spreadsheets/d/1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s/edit?usp=sharing/d/...\">Lihat Master Sheet</a> \n <a href=\"https://docs.google.com/spreadsheets/d/1HGyAPgoS-36xaJwoYATwPllA0DA3loi3zJl_H8wEB9s/edit?usp=sharing/...\">Lihat Laporan Bulanan</a></p>            </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1920,
        352
      ],
      "id": "8742b20d-8e3e-431a-b3d8-3398c2d89974",
      "name": "Send a message",
      "webhookId": "931ae609-c61e-4088-9a67-e0d00803b3cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "B9XQRCjEjMkIK6Ae",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data Sheet 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Sheet 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Sheet 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Menambahkan Kolom Sumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheet 3": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Menghapus Duplikat ID Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyesuaikan Header": {
      "main": [
        [
          {
            "node": "Menambahkan Kolom Sumber1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Kolom Sumber": {
      "main": [
        [
          {
            "node": "Mengahpus Duplikat ID Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menghapus Duplikat ID Laporan": {
      "main": [
        [
          {
            "node": "Menyesuaikan Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mengahpus Duplikat ID Laporan": {
      "main": [
        [
          {
            "node": "Sheet Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Kolom Sumber1": {
      "main": [
        [
          {
            "node": "Gabung",
            "type": "main",
            "index": 1
          },
          {
            "node": "Sheet Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Master": {
      "main": [
        [
          {
            "node": "Gabung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung": {
      "main": [
        [
          {
            "node": "Generate Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Laporan": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "460f90f3-2387-454f-87bc-0a7b2d7d77bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8b2c2141b9d9053f1875c9bb69c4ce05e16181323ff09103829de55d9b5b07d"
  },
  "id": "viGtQfyYKeUSWBbL",
  "tags": []
}